body{
    background-image: url(https://source.unsplash.com/random/?sunlight/);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 250px;
}
h1{
    color: rgb(28, 41, 160);
    font-size: 40px;
    font-family: cursive;
}
h2{
    font-size: xx-large;
    color: red;
}
h3{
    font-size: 30px;
}
input{
    border-radius: 30px;
    border-color: rgb(255, 8, 0);
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size:20px ;
}
button{
    border-radius: 20px;
    border-color:transparent;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
    background-color: rgb(66, 180, 209);
}

@media only screen and (max-width: 360px) {
    body{
        background-image: url(https://source.unsplash.com/random/?dark/);
        margin-top: 30px;
    }
    h1{
        color:white;
        font-size: 30px;
    }
    input{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    }
    h3{
        color: rgb(195, 201, 168);
    }

} 